TEMA_4/Actividades/Actividad2/Ejer3b/ejer3b.dtd

<!ELEMENT productos (producto+)>
<!ELEMENT producto (raton|teclado|monitor)+>
<!ELEMENT raton (nombre?, descripcion?)>
<!ELEMENT teclado (nombre?, descripcion?)>
<!ELEMENT monitor (nombre?, descripcion?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ATTLIST raton codigo ID #REQUIRED>
<!ATTLIST teclado codigo ID #REQUIRED>
<!ATTLIST monitor codigo ID #REQUIRED>